<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Groups</h1>
      <hr>
      <h3>Add New Group</h3>
      <form class="form-inline" ng-submit="create()">
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Add Group" ng-model="name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      <hr>
      <ul>
        <li ng-repeat="group in groups">{{group}}</li>
      </ul>
    </div>
  </div>
</div>
