<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 b30" style="padding:0;">
      <a href="/live/">
        <div class="brand-primary-bg text-center">
          <p class="brand-white" style="margin:0;font-weight:300;font-size:23px;padding:3px;">
            Yoga International LIVE
          </p>
        </div>
      </a>
      <div id="series-banner" class="full-width-slider-title" ng-repeat="ser in series | filter:filterCurrentSeries" on-last-repeat-series>
        <div class="slide-container">
          <img data-lazy="{{ser.banner}}"/>
          <div class="slide-caption text-center">
            <h2 style="margin:0;">{{ser.title}}</h2>
            <div ng-bind-html="ser.description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 style="margin-top:10px;">Live Series Schedule</h2>
    </div>
  </div>
  <div class="row" ng-repeat="class in classes | filter:filterClassInSeries | orderBy:'start'">
    <div class="col-sm-2 col-md-3 hidden-xs"></div>
    <div class="col-xs-12 col-sm-8 col-md-6 no-hover-text-decoration">
      <a href="{{class.url}}">
        <div class="live-series-list-box">
          <div class="row">
            <div class="col-xs-4 col-sm-3">
              <img style="max-height:150px;" ng-src="{{class.square}}">
            </div>
            <div class="col-xs-8 col-sm-9" style="padding-left:0px;">
              <div class="live-series-descriptors">
                <p style="margin:0;" ng-if="greaterThanNow(class.start)">{{class.start * 1000 | date:'EEE, MMM d, h:mm a'}} EST</p>
                <p style="margin:0;" ng-if="!greaterThanNow(class.start)"><i class="icon-play-o"></i> Watch Now</p>
              </div>
              <div class="live-series-title">
                <p>{{class.title}}</p>
              </div>
              <!--
              <div ng-if="greaterThanNow(class.start)">
                <div id="addToCalButtonGroup" class="btn-group">
                  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add to Calendar <span class="caret"></span>
                  </button>
                </div>
                <span id="addToCalData" class="addtocalendar" style="display:none;">
                  <var class="atc_event">
                    <var class="atc_date_start">{{class.start * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</var>
                    <var class="atc_date_end">{{class.end * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</var>
                    <var class="atc_timezone">America/New_York</var>
                    <var class="atc_title">{{class.title}}</var>
                    <var class="atc_description">Live class on Yoga International</var>
                    <var class="atc_location">https://yogainternational.com{{class.url}}</var>
                    <var class="atc_organizer">Yoga International</var>
                    <var class="atc_organizer_email">support@yogainternational.com</var>
                  </var>
                </span>
              </div>
              -->
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
